@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Readex+Pro:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Readex Pro", sans-serif;
  background-color: #1a1a1a;
}
nav {
  margin-top: 30px;

  color: #ffffff;
  width: 100%;
}

.navbar {
  display: flex;
  width: 90%;
  margin: auto;
  font-size: 16px;
  justify-content: space-between;
}

.nav-start {
  display: flex;
  align-items: center;
}

.nav-start p {
  font-size: 24px;
  font-weight: 600;
  margin-left: 10px;
  cursor: pointer;
}

.nav-center {
  margin: auto;
  display: flex;
}

.nav-center a {
  margin-left: 40px;
  font-weight: 400;
  cursor: pointer;
  transition: 0.2s;
  color: #ffffff;
  text-decoration: none;
}

.nav-center a:hover {
  scale: 1.1;
  color: #8a00f6;
}

.nav-end {
  align-self: center;
}

.nav_icon {
  display: none;
}

.nav-end button {
  border: 1px solid #8a00f6;
  width: 130px;
  height: 38px;
  border-radius: 15px;
  background-color: #1a1a1a;
  text-align: center;
}

.nav-end button a {
  text-decoration: none;
  color: #ffffff;
}

.dropwdown_menu {
  list-style: none;
  display: none;
  position: absolute;
  right: 2rem;
  width: 300px;
  height: 0;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropwdown_menu.open {
  height: 240px;
}

.dropwdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropwdown_menu button {
  border: 1px solid #8a00f6;
  width: 80%;
  height: 38px;
  border-radius: 15px;
  background-color: #1a1a1a;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropwdown_menu button a {
  text-decoration: none;
  color: #ffffff;
}

@media screen and (max-width: 800px) {
  .nav-center {
    display: none;
  }
  .nav-end {
    display: none;
  }

  .nav_icon {
    display: none;
    margin-left: auto;
    align-self: center;
    cursor: pointer;
    color: #8a00f6;
    font-size: 30px;
  }
  .nav_icon i {
    cursor: pointer;
  }

  .dropwdown_menu {
    display: block;
  }
  .dropwdown_menu.open {
    height: 240px;
  }
}

.wrapper-bg img {
  position: absolute;
  margin-top: 100px;
  width: 70%;
  height: 800px;
}

.main-section {
  width: 100%;
  margin-top: 250px;
  position: relative;
}

.main-flex {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.main-flex .text {
  color: #ffffff;
  align-self: center;
}

.main-section .T-card {
  width: 390px;
  height: 250px;
}

.T-card img {
  width: 100%;
  height: 100%;
  transition: 0.4s;
}

.T-card img:hover {
  scale: 1.2;
}

.text p {
  font-size: 50px;
  font-weight: 400;
  max-width: 600px;
}

.text button {
  font-size: 50px;
  width: 300px;
  height: 60px;
  background-color: #8a00f6;
  border: none;
  border-radius: 20px;
}

.text p button a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
}

.sub-text p {
  font-size: 18px;
  font-weight: 300;
  max-width: 400px;
}

@media screen and (max-width: 1000px) {
  .main-flex {
    flex-direction: column;
  }
  .text {
    margin-left: 20px;
  }
  .T-card {
    display: none;
  }
}

.card-content {
  padding-top: 20px;
  margin-top: 300px;
  width: 100%;
  height: 200px;
  background-color: #1c1c1c;
  position: relative;
}

.card-content .head-text {
  text-align: center;
}

.card-content .head-text p {
  color: #ffffff;
  font-weight: 400;
  font-size: 20px;
}

.main-card {
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
}

@keyframes kiri {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes kanan {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.left-anim {
  display: flex;
}

.right-anim {
  display: flex;
  display: flex;
  margin: auto;
  justify-content: center;
}

.main-card .companies {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 90px;
}

.main-card .companies p {
  color: #ffffff;
  align-self: center;
  font-size: 30px;
  font-weight: 600;
  margin-left: 10px;
}

/* .main-card .companies-second {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 100px;
  animation: kanan 5s infinite linear;
}

.main-card .companies-second p {
  color: #ffffff;
  align-self: center;
  font-size: 30px;
  font-weight: 600;
  margin-left: 10px;
} */

@media screen and (max-width: 1000px) {
  .main-card {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .left-anim {
    display: flex;
    overflow-x: hidden;
  }

  .right-anim {
    display: flex;
    overflow-x: hidden;
  }

  .main-card .companies {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 100px;
    animation: kiri 5s infinite linear;
  }

  .main-card .companies p {
    color: #ffffff;
    align-self: center;
    font-size: 30px;
    font-weight: 600;
    margin-left: 10px;
  }

  /* .main-card .companies-second {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 100px;
    animation: kanan 5s infinite linear;
  }

  .main-card .companies-second p {
    color: #ffffff;
    align-self: center;
    font-size: 30px;
    font-weight: 600;
    margin-left: 10px;
  } */
}

.container-card {
  width: 90%;
  margin: auto;
  justify-content: space-around;
  margin-top: 100px;
  display: flex;
  margin-bottom: 40px;
}

.container-card .main-text {
  color: #ffffff;
}

.main-text .judul-text {
  font-size: 40px;
  font-weight: 400;
}

.main-text .second-text {
  color: #b6b6b6;
  font-size: 20px;
}

.main-line {
  width: 80%;
  margin: auto;
  height: 1px;
  background-color: #ffffff;
}

@media screen and (max-width: 800px) {
  .container-card {
    width: 90%;
    margin: auto;
    margin-top: 70px;
    align-items: center;
    flex-wrap: wrap;
  }

  .container-card .main-text {
    margin-bottom: 50px;
    flex-wrap: wrap;
    color: #ffffff;
  }

  .main-text .judul-text {
    font-size: 30px;
    font-weight: 400;
  }

  .main-text .second-text {
    color: #b6b6b6;
    font-size: 15px;
    max-width: 180px;
  }
}

.container-app {
  width: 100%;
  height: 600px;
  display: flex;
}

.why-container {
  height: 100%;
  width: 40%;
  display: flex;
  align-items: center;
  margin-left: 40px;
}

.why-text .head-why {
  color: #ffffff;
  font-size: 70px;
  max-width: 700px;
}

.why-text .sub-why {
  font-size: 20px;
  max-width: 600px;
  color: #acacac;
}

.button-why {
  display: flex;
  margin-top: 20px;
}

.button-playstore {
  margin-right: 20px;
  display: flex;
}

.button-playstore button {
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 160px;
  height: 40px;
  border-radius: 10px;
  color: #ffffff;
  background-color: #8a00f6;

  border: none;
  outline: none;
}

.button-playstore button svg {
  margin-right: 10px;
}

.button-playstore button p {
  font-size: 15px;
}

.button-playstore {
  margin-right: 20px;
  display: flex;
}

.button-apple button {
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 160px;
  height: 40px;
  border-radius: 10px;
  color: #ffffff;
  background-color: #2f2f2f;

  border: none;
  outline: none;
}

.button-apple button svg {
  margin-right: 10px;
}

.button-apple button p {
  font-size: 15px;
}

.explain-container {
  height: 100%;
  width: 60%;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
}

.ex-text-container {
  display: flex;
  margin-bottom: 100px;
}

.ex-text-container-2 {
  display: flex;
}

.explain-text .ex-num {
  font-size: 30px;
  font-weight: 600;
  color: #ffffff;
}

.explain-text .ex-head {
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
}

.explain-text .ex-sub {
  font-size: 15px;
  font-weight: 300;
  color: #acacac;
}

@media screen and (max-width: 1000px) {
  .container-app {
    flex-direction: column;
    margin: auto;
    height: max-content;
  }
  .why-container {
    height: 100%;
    width: 100%;
    margin-left: 10px;
  }

  .explain-container {
    height: 100%;
    width: 100%;
  }

  .ex-text-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
  }

  .ex-text-container-2 {
    display: flex;
    flex-wrap: wrap;
  }

  .explain-text {
    margin-bottom: 20px;
    margin-left: 10px;
  }
  .explain-text .ex-sub {
    font-size: 12px;
    font-weight: 300;
    color: #acacac;
  }
}

@media screen and (max-width: 500px) {
  .container-app {
    flex-direction: column;
    margin: auto;
  }
  .why-container {
    height: 100%;
    width: 100%;
    margin-left: 10px;
  }

  .explain-container {
    height: 100%;
    width: 100%;
  }

  .ex-text-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
  }

  .ex-text-container-2 {
    display: flex;
    flex-wrap: wrap;
  }

  .explain-text {
    margin-bottom: 20px;
    margin-left: 10px;
  }
  .explain-text .ex-sub {
    font-size: 12px;
    font-weight: 300;
    color: #acacac;
  }
}

.solutions-container {
  width: 80%;
  height: fit-content;
  padding-bottom: 80px;
  background-color: #202020;
  background-image: url(../Image/lines-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
  margin: auto;
  margin-bottom: 200px;
}

.sol-head {
  width: 40%;
  margin: auto;
  text-align: center;
  color: #ffffff;
  padding-top: 40px;
}

.sol-heads {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

.sol-head-sub {
  font-size: 30px;
  font-weight: 500;
}

.sol-desc {
  margin-top: 20px;
  font-weight: 500;
  color: #797979;
  word-spacing: 2px;
  font-size: 17px;
}

.sol-card {
  width: 300px;
  height: 250px;
  background-color: #3b3b3b;
  opacity: 0.8;
  border-radius: 30px;
}

.sol-card-container {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.sol-content-container {
  margin-top: 10px;
  margin-left: 15px;
}

.sol-name {
  color: #ffffff;
  display: flex;
  align-items: center;
}

.sol-name p {
  font-size: 15px;
  font-weight: 600;
}

.sol-explain {
  margin-top: 20px;
  color: #b4b4b4;
  font-weight: 300;
  word-spacing: 4px;
}

.sol-explore {
  display: flex;
  margin-top: 40px;
  color: #f5f5f5;
}

.sol-explore a {
  text-decoration: none;
  color: #f5f5f5;
  margin-right: 10px;
}

@media screen and (max-width: 1200px) {
  .solutions-container {
    width: 90%;
    height: fit-content;
    background-color: #202020;
    border-radius: 30px;
    margin: auto;
    padding-bottom: 0;
    margin-bottom: 100px;
  }
  .sol-card {
    width: 350px;
    height: 200px;
    background-color: #3b3b3b;
    border-radius: 30px;
    margin-bottom: 20px;
  }

  .sol-card-container {
    flex-wrap: wrap;
  }

  .sol-head {
    width: 80%;
    margin: auto;
    text-align: center;
    color: #ffffff;
    padding-top: 40px;
  }
  .sol-name p {
    font-size: 15px;
    font-weight: 600;
  }

  .sol-explain {
    margin-top: 20px;
    color: #b4b4b4;
    font-weight: 300;
    word-spacing: 0px;
    font-size: 14px;
  }

  .sol-explore {
    margin-top: 15px;
    display: flex;
    color: #f5f5f5;
  }

  .sol-explore a {
    text-decoration: none;
    color: #f5f5f5;
    margin-right: 10px;
  }
}

.mobile-container {
  width: 80%;
  height: 600px;
  background-color: #202020;
  background-image: url(../Image/lines-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
  margin: auto;
  border-radius: 20px;
  position: relative;
  margin-bottom: 100px;
}

.m-content-container {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.m-text-container {
  color: #ffffff;
}

.m-head-text {
  font-size: 15px;
  color: #ffffff;
  margin-bottom: 10px;
}

/* .m-text-container .m-head-text p {
  font-size: 15px;
  background: -webkit-linear-gradient(#ff00bf, #006eff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */

.m-subhead-text {
  font-size: 50px;
  color: rgb(199, 199, 199);
  font-weight: 500;
  max-width: 700px;
  margin-bottom: 20px;
}

.m-sub-text {
  font-size: 15px;
  color: #b6b6b6;
  font-weight: 500;
  max-width: 600px;
  margin-bottom: 20px;
}

.m-button button {
  padding: 20px;
  border: none;
  outline: none;
  background-color: #1c1c1c;
  border-radius: 40px;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.m-button button svg {
  color: #ffffff;
}

.m-button button a {
  text-decoration: none;
  font-weight: 500;
  color: #ffffff;
  font-size: 14px;
  margin-right: 10px;
}

.m-img-container img {
  position: absolute;
  bottom: 0;
  right: 50px;
}

@media screen and (max-width: 1600px) {
  .m-img-container img {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

@media screen and (max-width: 1500px) {
  .m-img-container img {
    display: none;
  }

  .m-sub-text {
    font-size: 15px;
    color: #b6b6b6;
    font-weight: 500;
    max-width: 600px;
    margin-bottom: 20px;
    max-width: 350px;
  }
  .m-content-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
  }
  .m-button button {
    padding: 20px;
    border: none;
    outline: none;
    background-color: #1c1c1c;
    border-radius: 40px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* .achieve-container {
  width: 100%;
  height: 600px;
  color: #ffffff;
  border-radius: 20px;
  margin: auto;
}

.achieve-top {
  text-align: center;
  width: 40%;
  margin: auto;
}

.achieve-head {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

.achieve-sub {
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 40px;
}

.achieve-card-cons {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.achieve-card {
  width: 290px;
  height: 200px;
  background-color: #666666;
  border-radius: 20px;
} */

.secure-container {
  width: 80%;
  height: 600px;
  background-color: #202020;
  background-image: url(../Image/lines-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
  margin: auto;
  border-radius: 20px;
  position: relative;
  margin-bottom: 200px;
}

.s-content-container {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.s-text-container {
  color: #ffffff;
}

.s-head-text {
  font-size: 15px;
  color: #ffffff;
  margin-bottom: 10px;
}

/* .m-text-container .m-head-text p {
  font-size: 15px;
  background: -webkit-linear-gradient(#ff00bf, #006eff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */

.s-subhead-text {
  font-size: 50px;
  color: rgb(199, 199, 199);
  font-weight: 500;
  max-width: 700px;
  margin-bottom: 20px;
}

.s-sub-text {
  font-size: 15px;
  color: #b6b6b6;
  font-weight: 500;
  max-width: 600px;
  margin-bottom: 20px;
}

.s-button button {
  padding: 20px;
  border: none;
  outline: none;
  background-color: #1c1c1c;
  border-radius: 40px;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.s-button button svg {
  color: #ffffff;
}

.s-button button a {
  text-decoration: none;
  font-weight: 500;
  color: #ffffff;
  font-size: 14px;
  margin-right: 10px;
}

.s-img-container img {
  position: absolute;
  bottom: 0;
  left: 100px;
}

@media screen and (max-width: 1600px) {
  .s-img-container img {
    position: absolute;
    bottom: 0;
    left: 10px;
  }
}

@media screen and (max-width: 1500px) {
  .s-img-container img {
    display: none;
  }

  .s-sub-text {
    font-size: 15px;
    color: #b6b6b6;
    font-weight: 500;
    max-width: 600px;
    margin-bottom: 20px;
    max-width: 350px;
  }
  .s-content-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
  }
  .s-button button {
    padding: 20px;
    border: none;
    outline: none;
    background-color: #1c1c1c;
    border-radius: 40px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

footer {
  font-family: "Readex Pro", sans-serif;
  width: 100%;
  bottom: 0;
  background: linear-gradient(to right, #464646, #222222);
  color: #fff;
  padding: 100px 0 30px;
  font-size: 13px;
  line-height: 20px;
}

.foot-start {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.foot-start p {
  font-size: 14px;
  font-weight: 600;
  margin-left: 10px;
}

.row {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.col {
  flex-basis: 25%;
  padding: 10px;
}

.col:nth-child(2),
.col:nth-child(3) {
  flex-basis: 15%;
}

.logo {
  width: 80px;
  margin-bottom: 30px;
}

.col h3 {
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
}

.email-id {
  width: fit-content;
  border-bottom: 1px solid #ccc;
  margin: 20px 0;
}

ul li {
  list-style: none;
  margin-bottom: 12px;
}

ul li a {
  text-decoration: none;
  color: #fff;
  transition: 0.4s;
}

ul li a:hover {
  text-decoration: none;
  color: #acacac;
}

form {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin-bottom: 50px;
}

form .far {
  font-size: 18px;
  margin-right: 10px;
}

form input {
  width: 100%;
  background: transparent;
  color: #ccc;
  border: 0;
  outline: none;
}

form button {
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}

form button .fas {
  font-size: 16px;
  color: #ccc;
}

.social-icons .fab {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #000;
  background: #fff;
  margin-right: 15px;
  cursor: pointer;
  transition: 0.4s;
}

.social-icons .fab:hover {
  scale: 1.2;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #fff;
  background: #000000;
  margin-right: 15px;
  cursor: pointer;
}

hr {
  width: 90%;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 20px auto;
}

.copyright {
  text-align: center;
}

.underline {
  width: 100%;
  height: 5px;
  background: #767676;
  border-radius: 3px;
  position: absolute;
  top: 25px;
  left: 0;
  overflow: hidden;
}

.underline span {
  width: 15px;
  height: 100%;
  background: #fff;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 10px;
  animation: moving 2s linear infinite;
}

@keyframes moving {
  0% {
    left: -20px;
  }
  100% {
    left: 100%;
  }
}

@media screen and (max-width: 700px) {
  footer {
    bottom: unset;
  }
  .col {
    flex-basis: 100%;
  }
  .col:nth-child(2),
  .col:nth-child(3) {
    flex-basis: 100%;
  }
}
