* {
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Readex+Pro:wght@200;300;400;500;600;700&display=swap");

body {
  font-family: "Readex Pro", sans-serif;
  background-color: #1a1a1a;
}
nav {
  margin-top: 30px;

  color: #ffffff;
  width: 100%;
}

.navbar {
  display: flex;
  width: 90%;
  margin: auto;
  font-size: 16px;
}

.nav-start {
  display: flex;
  align-items: center;
}

.nav-start p {
  font-size: 24px;
  font-weight: 600;
  margin-left: 10px;
}

.nav-center {
  margin: auto;
  display: flex;
}

.nav-center p {
  margin-left: 40px;
  font-weight: 500;
}

.nav-end {
  align-self: center;
}

.nav-end button {
  border: 1px solid #8a00f6;
  width: 130px;
  height: 38px;
  border-radius: 15px;
  background-color: #1a1a1a;
  text-align: center;
}

.nav-end button a {
  text-decoration: none;

  color: #ffffff;
}
