@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Readex+Pro:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Readex Pro", sans-serif;
  background-color: #1a1a1a;
}
nav {
  margin-top: 30px;

  color: #ffffff;
  width: 100%;
}

.navbar {
  display: flex;
  width: 90%;
  margin: auto;
  font-size: 16px;
}

.nav-start {
  display: flex;
  align-items: center;
}

.nav-start p {
  font-size: 24px;
  font-weight: 600;
  margin-left: 10px;
  cursor: pointer;
}

.nav-center {
  margin: auto;
  display: flex;
}

.nav-center p {
  margin-left: 40px;
  font-weight: 500;
  cursor: pointer;
}

.nav-end {
  align-self: center;
}

.nav-icon {
  display: none;
}

.nav-end button {
  border: 1px solid #8a00f6;
  width: 130px;
  height: 38px;
  border-radius: 15px;
  background-color: #1a1a1a;
  text-align: center;
}

.nav-end button a {
  text-decoration: none;
  color: #ffffff;
}

@media screen and (max-width: 800px) {
  .nav-center {
    display: none;
  }
  .nav-end {
    display: none;
  }

  .nav-icon {
    display: block;
    margin-left: auto;
    align-self: center;
    cursor: pointer;
  }
}

.wrapper-bg img {
  position: absolute;
  margin-top: 100px;
  width: 70%;
  height: 800px;
}

.main-section {
  width: 100%;
  margin-top: 250px;
  position: relative;
}

.main-flex {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.main-flex .text {
  color: #ffffff;
  align-self: center;
}

.main-section .T-card {
  width: 390px;
  height: 250px;
}

.T-card img {
  width: 100%;
  height: 100%;
}

.text p {
  font-size: 50px;
  font-weight: 400;
  max-width: 600px;
}

.text button {
  font-size: 50px;
  width: 300px;
  height: 60px;
  background-color: #8a00f6;
  border: none;
  border-radius: 20px;
}

.text p button a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
}

.sub-text p {
  font-size: 18px;
  font-weight: 300;
  max-width: 400px;
}

@media screen and (max-width: 1000px) {
  .main-flex {
    flex-direction: column;
  }
  .text {
    margin-left: 20px;
  }
  .T-card {
    display: none;
  }
}

.card-content {
  padding-top: 20px;
  margin-top: 300px;
  width: 100%;
  height: 200px;
  background-color: #1c1c1c;
  position: relative;
}

.card-content .head-text {
  text-align: center;
}

.card-content .head-text p {
  color: #ffffff;
  font-weight: 400;
  font-size: 20px;
}

.main-card .companies {
  display: flex;
}
